<!DOCTYPE html>
<html lang="en">
<head>
  {{>headerLink}}
<body>
  
  <div class="bgimg">
  {{>header}}
  <div class="container text-center  headerset">
    <h2>Welcome to Our Website</h2>
    <h1>IT'S NICE TO MEET YOU</h1>
    <input type="button" class="btn btn-info" value="Subscribe">

    </div>
  </div>
  
       </div> 
    </div>
  </div>
</body>
</html>